body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('/frontend/img/background-img.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid #ccc;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    padding: 30px;
    width: 400px;
    text-align: center;
    position: relative;
}

h1 {
    font-size: 30px;
    color: #333;
    margin-bottom: 20px;
}

h2 {
    font-size: 20px;
    font-style: italic;
    color: #333;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

#frase {
    font-size: 20px;
    font-style: italic;
    color: #333;
    margin-top: 20px;
}